/******* custom font ******/
@font-face {
  font-family: "Gilroy";
  src: url("../../webfonts/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  /* Black */
  font-style: normal; }

@font-face {
  font-family: "Gilroy";
  src: url("../../webfonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  /* Bold */
  font-style: normal; }

@font-face {
  font-family: "Gilroy";
  src: url("../../webfonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  /* Extra Bold */
  font-style: normal; }

@font-face {
  font-family: "Gilroy";
  src: url("../../webfonts/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 700;
  /* Heavy */
  font-style: normal; }

@font-face {
  font-family: "Gilroy";
  src: url("../../webfonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  /* Light */
  font-style: normal; }

@font-face {
  font-family: "Gilroy";
  src: url("../../webfonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  /* Medium */
  font-style: normal; }

@font-face {
  font-family: "Gilroy";
  src: url("../../webfonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  /* Regular */
  font-style: normal; }

@font-face {
  font-family: "Gilroy";
  src: url("../../webfonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  /* SemiBold */
  font-style: normal; }

@font-face {
  font-family: "Gilroy";
  src: url("../../webfonts/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  /* Thin */
  font-style: normal; }

@font-face {
  font-family: "Gilroy";
  src: url("../../webfonts/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  /* UltraLight */
  font-style: normal; }

body {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  line-height: 24px;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  margin-bottom: 1000px; }

p {
  margin: 0px;
  padding: 0px; }

* {
  margin: 0px;
  padding: 0px; }

h1 {
  margin: 0;
  padding: 0;
  font-size: 180px;
  line-height: 180px;
  font-weight: 800; }
  @media (max-width: 576px) {
    h1 {
      font-size: 56px;
      line-height: 64px; } }

h2 {
  font-size: 64px;
  line-height: 72px;
  font-weight: 800; }
  @media (max-width: 576px) {
    h2 {
      font-size: 40px;
      line-height: 48px; } }

h3 {
  font-size: 64px;
  line-height: 72px;
  font-weight: 800; }
  @media (max-width: 576px) {
    h3 {
      font-size: 40px;
      line-height: 48px; } }

h4 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700; }
  @media (max-width: 576px) {
    h4 {
      font-size: 32px;
      line-height: 40px; } }

h5 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700; }
  @media (max-width: 576px) {
    h5 {
      font-size: 20px;
      line-height: 24px; } }

h6 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700; }
  @media (max-width: 576px) {
    h6 {
      font-size: 20px;
      line-height: 24px; } }

.container {
  max-width: 1512px;
  margin: 0 auto; }

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px; }

li {
  list-style-type: none;
  text-transform: capitalize; }

a {
  text-decoration: none; }

img {
  width: 100%; }

.primary-color-span {
  color: #fd4f01; }

.btn-1 {
  border: none;
  font-size: 16px;
  line-height: 24px;
  border-radius: 8px;
  background: white;
  border: 2px solid white;
  padding: 12px 24px;
  color: #fd4f01;
  font-weight: 600;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn-1 .icon {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: inline-block;
    margin-left: 8px; }
  .btn-1:hover {
    background: #fd4f01;
    color: white; }

.btn-2 {
  border: none;
  font-size: 16px;
  line-height: 24px;
  border-radius: 8px;
  background: #fd4f01;
  border: 2px solid white;
  padding: 12px 24px;
  color: white;
  font-weight: 600;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn-2 .icon {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: inline-block;
    margin-left: 8px; }
  .btn-2:hover {
    background: white;
    color: #fd4f01; }

header {
  background-color: #fd4f01; }
  header .header-top {
    padding: 0 16px 0 20px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #fdfdfd;
    -webkit-box-shadow: 0px 1px 0px #f1f1f1;
    box-shadow: 0px 1px 0px #f1f1f1;
    border-radius: 10px 10px 0px 0px; }
    header .header-top .left {
      max-width: 200px; }
    header .header-top .meddle {
      width: 41%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 13px; }
      header .header-top .meddle .search-box {
        width: 100%; }
        header .header-top .meddle .search-box form {
          position: relative;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          max-width: 100%;
          height: 28px;
          border-radius: 6px;
          background: #f0f0f0;
          align-items: center; }
          header .header-top .meddle .search-box form input {
            border: none;
            width: 100%;
            background: #f0f0f0; }
          header .header-top .meddle .search-box form input:focus {
            border: none;
            outline: none;
            color: #0e1523;
            font-size: 12px;
            padding-left: 10px; }
          header .header-top .meddle .search-box form .rotate-icon {
            padding-right: 6px;
            border: none;
            background: transparent;
            -webkit-transition: -webkit-transform 0.5s ease-in-out;
            transition: -webkit-transform 0.5s ease-in-out;
            -o-transition: transform 0.5s ease-in-out;
            transition: transform 0.5s ease-in-out;
            transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out; }
          header .header-top .meddle .search-box form .rotate-icon.rotated {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg); }
          header .header-top .meddle .search-box form .link-shape {
            position: absolute;
            left: 40%; }
    header .header-top .right {
      max-width: 110px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 13px; }
    @media (max-width: 576px) {
      header .header-top {
        display: none; } }
  header .nav-wrapper {
    position: relative;
    padding: 39px 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 16px;
    background: #fd4f01; }
    @media (max-width: 576px) {
      header .nav-wrapper .logo {
        max-width: 136px; } }
    header .nav-wrapper .nav ul li a {
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      color: white; }
    header .nav-wrapper .nav ul li + li {
      padding-left: 66px; }
    header .nav-wrapper .right {
      gap: 16px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    header .nav-wrapper .mobile-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 16px;
      display: none; }
      header .nav-wrapper .mobile-icon .cart a {
        font-size: 24px; }
        header .nav-wrapper .mobile-icon .cart a svg {
          width: 27px;
          height: 37px; }
      header .nav-wrapper .mobile-icon .menu-icon {
        width: 30px;
        height: 20px;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 5px; }
        header .nav-wrapper .mobile-icon .menu-icon span {
          color: red;
          display: block;
          width: 100%;
          height: 3px;
          background-color: white;
          border-radius: 6px;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
        header .nav-wrapper .mobile-icon .menu-icon span:first-child {
          width: 100%;
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg); }
        header .nav-wrapper .mobile-icon .menu-icon span:nth-child(2) {
          width: 80%;
          -ms-flex-item-align: end;
          -ms-grid-row-align: end;
          align-self: end; }
        header .nav-wrapper .mobile-icon .menu-icon span:last-child {
          width: 50%;
          -ms-flex-item-align: end;
          -ms-grid-row-align: end;
          align-self: end; }
        header .nav-wrapper .mobile-icon .menu-icon.active span:nth-child(1) {
          -webkit-transform: translateY(8px) rotate(45deg);
          -ms-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg); }
        header .nav-wrapper .mobile-icon .menu-icon.active span:nth-child(2) {
          opacity: 0; }
        header .nav-wrapper .mobile-icon .menu-icon.active span:nth-child(3) {
          width: 100%;
          -webkit-transform: translateY(-8px) rotate(-45deg);
          -ms-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg); }
    @media (max-width: 992px) {
      header .nav-wrapper .nav {
        display: none; }
      header .nav-wrapper .right {
        display: none; }
      header .nav-wrapper .mobile-icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
    @media (max-width: 576px) {
      header .nav-wrapper {
        padding: 16px; } }
    header .nav-wrapper .mobile-menu {
      padding-top: 10px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 117px;
      background: #fd4f01;
      display: none; }
      header .nav-wrapper .mobile-menu ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center; }
        header .nav-wrapper .mobile-menu ul li a {
          color: white;
          font-size: 18px;
          font-weight: 600;
          line-height: 24px; }
        header .nav-wrapper .mobile-menu ul li ul {
          margin-top: 16px; }
          header .nav-wrapper .mobile-menu ul li ul li a {
            font-size: 16px;
            font-weight: 400;
            line-height: 32px; }
          header .nav-wrapper .mobile-menu ul li ul li:nth-child(2) {
            margin: 0px 0px; }
        header .nav-wrapper .mobile-menu ul li:nth-child(2) {
          margin: 28px 0px; }
      header .nav-wrapper .mobile-menu .login-wrapper {
        padding: 0 16px;
        margin-top: 32px; }
        header .nav-wrapper .mobile-menu .login-wrapper a {
          border-radius: 8px;
          padding: 12px;
          color: white;
          font-weight: 600;
          line-height: 24px;
          text-transform: capitalize;
          width: 100%;
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          gap: 8px;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          border: 1px solid white; }
      @media (max-width: 576px) {
        header .nav-wrapper .mobile-menu {
          top: 69px; } }
    @media (max-width: 576px) {
      header .nav-wrapper {
        padding: 16px; } }

.hero-area {
  padding: 10px 64px 160px 64px;
  position: relative;
  background: url("../../assets/images/hero-shape.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left; }
  .hero-area .img-wrapper {
    z-index: 1;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    top: 150px; }
    .hero-area .img-wrapper img {
      max-width: 528px; }
  .hero-area .title-wrapper h1 {
    color: white; }
  .hero-area .title-wrapper .last-char {
    position: relative;
    z-index: 3; }
  .hero-area .wrapper-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    margin-top: 67px; }
    .hero-area .wrapper-content .left .description {
      margin: 0px 0 48px 0;
      max-width: 390px; }
      .hero-area .wrapper-content .left .description p {
        color: white; }
    .hero-area .wrapper-content .left .btn-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 24px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .hero-area .wrapper-content .right .title-wrapper h1 {
      color: white; }
  .hero-area .hero-bottom {
    margin-top: 210px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .hero-area .hero-bottom .inner {
      padding-right: 36px;
      margin-right: 36px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 12px;
      border-right: 1px solid white; }
      .hero-area .hero-bottom .inner .icon {
        width: 40px;
        height: 40px; }
      .hero-area .hero-bottom .inner p {
        color: white; }
  @media (max-width: 992px) {
    .hero-area {
      display: none; } }

.meals-area {
  padding: 89px 64px 160px 64px; }
  .meals-area .content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .meals-area .content-wrapper .inner {
      padding-bottom: 60px;
      -webkit-box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
      box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
      z-index: 3;
      position: relative;
      width: 33%;
      min-height: 360px;
      position: relative;
      border-radius: 24px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      cursor: pointer;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .meals-area .content-wrapper .inner::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../../assets/images/meals-bg.png") no-repeat center center;
        background-size: cover;
        z-index: -1;
        border-radius: 24px;
        opacity: 0%;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .meals-area .content-wrapper .inner .img-wrapper {
        position: absolute;
        left: 50%;
        top: -50px;
        -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%); }
        .meals-area .content-wrapper .inner .img-wrapper img {
          width: 265px; }
      .meals-area .content-wrapper .inner .title-wrapper {
        text-align: center;
        margin-top: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .meals-area .content-wrapper .inner .title-wrapper h4 {
          color: #0e1523;
          text-transform: capitalize;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
        .meals-area .content-wrapper .inner .title-wrapper .icon {
          margin-left: 0px;
          opacity: 0;
          visibility: hidden;
          width: 56px;
          height: 56px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          border-radius: 50%;
          border: 2px solid white;
          font-size: 24px;
          color: white;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
      .meals-area .content-wrapper .inner:hover {
        background: #fd4f01; }
        .meals-area .content-wrapper .inner:hover::after {
          opacity: 24%; }
        .meals-area .content-wrapper .inner:hover .title-wrapper h4 {
          color: white; }
        .meals-area .content-wrapper .inner:hover .title-wrapper .icon {
          margin-left: 24px;
          opacity: 1;
          visibility: visible; }
    .meals-area .content-wrapper .active {
      background: #fd4f01; }
      .meals-area .content-wrapper .active::after {
        opacity: 24%; }
      .meals-area .content-wrapper .active .title-wrapper h4 {
        color: white; }
      .meals-area .content-wrapper .active .title-wrapper .icon {
        margin-left: 24px;
        opacity: 1;
        visibility: visible; }
    @media (max-width: 1350px) {
      .meals-area .content-wrapper .inner {
        width: 49%;
        margin: 0 auto; }
      .meals-area .content-wrapper .inner:last-child {
        margin-top: 90px; } }
    @media (max-width: 992px) {
      .meals-area .content-wrapper .inner {
        width: 100%;
        margin-top: 100px; }
      .meals-area .content-wrapper .inner:last-child {
        margin-top: 100px; } }
    @media (max-width: 576px) {
      .meals-area .content-wrapper .inner {
        min-height: 312px;
        padding-bottom: 36px; }
        .meals-area .content-wrapper .inner .title-wrapper .icon {
          width: 48px;
          height: 48px;
          font-size: 20px;
          margin-left: 16px; } }
  @media (max-width: 576px) {
    .meals-area {
      padding: 24px 16px; } }

.items-slider {
  padding: 138px 64px 138px 64px;
  background: url("../../../assets/images/items-slider-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .items-slider .heading-wrapper {
    text-align: center; }
    .items-slider .heading-wrapper .title h2 {
      color: #fd4f01;
      text-transform: uppercase; }
    .items-slider .heading-wrapper .description {
      max-width: 660px;
      margin: 0 auto;
      margin-top: 32px; }
      .items-slider .heading-wrapper .description p {
        font-size: 18px;
        font-weight: 400; }
  .items-slider .slider-wrapper {
    margin-top: 48px; }
    .items-slider .slider-wrapper .slider-nav nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .items-slider .slider-wrapper .slider-nav nav ul li {
        margin-left: 24px; }
        .items-slider .slider-wrapper .slider-nav nav ul li a {
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          color: #fd4f01;
          padding: 16px 24px;
          border-radius: 100px;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
          .items-slider .slider-wrapper .slider-nav nav ul li a:hover {
            color: white;
            background-color: #fd4f01; }
        .items-slider .slider-wrapper .slider-nav nav ul li .active {
          color: white;
          background-color: #fd4f01; }
    .items-slider .slider-wrapper .tab-content {
      margin-top: 130px; }
      .items-slider .slider-wrapper .tab-content .inner-wrapper {
        position: relative; }
        .items-slider .slider-wrapper .tab-content .inner-wrapper .slick-prev,
        .items-slider .slider-wrapper .tab-content .inner-wrapper .slick-next {
          background: transparent;
          border: 1px solid #0e1523;
          position: absolute;
          width: 56px;
          height: 56px;
          border-radius: 50%;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
          .items-slider .slider-wrapper .tab-content .inner-wrapper .slick-prev:hover,
          .items-slider .slider-wrapper .tab-content .inner-wrapper .slick-next:hover {
            background: #fd4f01;
            border: 1px solid #fd4f01;
            color: white; }
            .items-slider .slider-wrapper .tab-content .inner-wrapper .slick-prev:hover::before,
            .items-slider .slider-wrapper .tab-content .inner-wrapper .slick-next:hover::before {
              color: white; }
        .items-slider .slider-wrapper .tab-content .inner-wrapper .slick-prev {
          top: -68px;
          left: auto;
          right: 70px; }
        .items-slider .slider-wrapper .tab-content .inner-wrapper .slick-next {
          top: -68px;
          left: auto;
          right: 0px; }
        .items-slider .slider-wrapper .tab-content .inner-wrapper .slick-prev:before,
        .items-slider .slider-wrapper .tab-content .inner-wrapper .slick-next:before {
          font-size: 24px;
          font-weight: 700;
          line-height: 0.5;
          opacity: 1;
          color: #0e1523;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
        .items-slider .slider-wrapper .tab-content .inner-wrapper .inner {
          background: white;
          cursor: pointer;
          -webkit-box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
          box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
          border-radius: 24px;
          padding-bottom: 32px;
          margin: 40px 0 20px; }
          .items-slider .slider-wrapper .tab-content .inner-wrapper .inner .img-wrapper {
            background: url("../../../assets/images/slider-bg.png");
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            min-height: 270px;
            border-top-left-radius: 24px;
            border-top-right-radius: 24px; }
            .items-slider .slider-wrapper .tab-content .inner-wrapper .inner .img-wrapper img {
              position: absolute;
              max-width: 360px;
              left: 50%;
              -webkit-transform: translate(-50%);
              -ms-transform: translate(-50%);
              transform: translate(-50%);
              top: -50px; }
          .items-slider .slider-wrapper .tab-content .inner-wrapper .inner .title {
            padding-left: 25px;
            margin-top: 5px; }
          .items-slider .slider-wrapper .tab-content .inner-wrapper .inner .kcal-wrapper {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            gap: 4px;
            margin: 33px 0 24px 0;
            padding-left: 16px; }
            .items-slider .slider-wrapper .tab-content .inner-wrapper .inner .kcal-wrapper .items {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              background-color: #ffe2d2;
              border-radius: 8px;
              width: 83px;
              padding: 4px 8px;
              gap: 8px;
              -webkit-transition: 0.3s;
              -o-transition: 0.3s;
              transition: 0.3s; }
              .items-slider .slider-wrapper .tab-content .inner-wrapper .inner .kcal-wrapper .items .text {
                font-size: 14px;
                line-height: 24px;
                font-weight: 600;
                text-transform: uppercase;
                color: #0e1523; }
              .items-slider .slider-wrapper .tab-content .inner-wrapper .inner .kcal-wrapper .items .count {
                font-size: 14px;
                line-height: 24px;
                font-weight: 600;
                text-transform: uppercase;
                color: #fd4f01;
                -webkit-transition: 0.3s;
                -o-transition: 0.3s;
                transition: 0.3s; }
              .items-slider .slider-wrapper .tab-content .inner-wrapper .inner .kcal-wrapper .items:hover {
                background-color: #fd4f01; }
                .items-slider .slider-wrapper .tab-content .inner-wrapper .inner .kcal-wrapper .items:hover .count {
                  color: white; }
          .items-slider .slider-wrapper .tab-content .inner-wrapper .inner .price-wrapper {
            padding: 0 16px 30px 16px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between; }
            .items-slider .slider-wrapper .tab-content .inner-wrapper .inner .price-wrapper .price .count h5 {
              color: #fd4f01;
              margin-bottom: 0px; }
            .items-slider .slider-wrapper .tab-content .inner-wrapper .inner .price-wrapper .price .text p {
              font-size: 14px;
              font-weight: 500;
              color: #0e1523; }
              .items-slider .slider-wrapper .tab-content .inner-wrapper .inner .price-wrapper .price .text p .icon {
                margin-left: 8px; }
                .items-slider .slider-wrapper .tab-content .inner-wrapper .inner .price-wrapper .price .text p .icon img {
                  width: 20px;
                  height: 20px; }
            .items-slider .slider-wrapper .tab-content .inner-wrapper .inner .price-wrapper .gram p {
              color: #0e1523;
              font-size: 16px;
              font-weight: 600;
              line-height: 24px; }
          .items-slider .slider-wrapper .tab-content .inner-wrapper .inner .btn-wrapper {
            padding: 0px 16px; }
            .items-slider .slider-wrapper .tab-content .inner-wrapper .inner .btn-wrapper button {
              background: #0e1523;
              color: white;
              font-weight: 600;
              width: 100%; }
              .items-slider .slider-wrapper .tab-content .inner-wrapper .inner .btn-wrapper button .icon {
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
                margin-left: 0;
                font-size: 24px;
                -webkit-transition: 0.3s;
                -o-transition: 0.3s;
                transition: 0.3s; }
        .items-slider .slider-wrapper .tab-content .inner-wrapper .slick-slide {
          margin-left: 20px;
          margin-right: 20px; }
  @media (max-width: 576px) {
    .items-slider {
      padding: 75px 16px 64px 16px; } }
